<button (click)="navigateToMainPage()">перейти в профиль</button>
<h3>Поиск людей по имени</h3>
<label> Имя пользователя
    <input [(ngModel)]="substr"><br>
</label>
<button (click)="find()">найти</button>
<p [hidden]="anyoneFounded">нет результатов</p>
<div id="peoplediv" [hidden]="!anyoneFounded">
    <p class="user" *ngFor="let user of foundedUsersList" (click)="openProfile(user.id)">{{user.name}}</p>
</div>

<div id="openedprofile" class="displayablediv" [hidden]="!profileOpened">
    <img [width]=100 [height]=100 [src]='imgSrc'>
    <p>Имя: {{openedProfileName}}</p>
    <button id="addfriend" (click)="addFriend()" [hidden]="isFriend">Добавить в друзья</button>
    <button id="deletefriend" (click)="deleteFriend()" [hidden]="!isFriend">Удалить из друзей</button>
    <button (click)="closeProfile()">закрыть</button>
</div>